.partners__container {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/cezar-sampaio-cFVuUj7Da20-unsplash.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 400px;
}
#partners_title {
  position: relative;
  top: 80%;
  right: 0;
  font-family: var(--font-OS);
  color: var(--color-blue);
  font-size: 4em;
  font-weight: 800;
  letter-spacing: 2px;
}

@media screen and (max-width: 700px) {
  .partners__container {
    margin-top: 4rem;
  }
  #partners_title {
    font-size: 3em;
  }
}
@media screen and (max-width: 550px) {
  #partners_title {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 400px) {
  #partners_title {
    font-size: 2.2em;
    top: 90%;
    right: 25%;
  }
}
.doctor_container {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 200px;
  border-radius: 20px;
  border: 2px solid var(--color-blue);
  -webkit-box-shadow: 5px 5px 16px 5px rgba(68, 120, 182, 0.49);
  box-shadow: 5px 5px 16px 5px rgba(68, 120, 182, 0.49);
}
.doctor__image img {
  width: 50%;
}
.doctor__image {
  position: relative;
  left: 50%;
  transform: translateX(-25%);
}
.doctor__name {
  position: relative;
  text-align: center;
  font-family: var(--font-ethn);
}
.partners__doctors-slides {
  justify-content: center;
  align-items: center;
}
.partners__doctors-slides h1 {
  text-align: center;
  font-family: var(--font-OS);
  font-size: 3em;
  font-weight: 800;
  color: var(--color-blue);
}