.eden__packs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-OS);
}

.eden__packs-header {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background-image: url('../../assets/Packs/packs_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 6rem 2rem;
}

.eden__packs-header_titles h2 {
    font-size: 2.7em;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    text-align: justify;
}

.eden__packs_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/Packs/fam.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    background-position: center;
}

.eden__packs-item_content-section {
    border-radius: 50px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(265.4deg, rgba(68, 120, 182, 0) -22.38%, #4478B6 105.01%);
    border-radius: 50px;
    color: white;
}

.eden__packs-logistics h5 {
    color: white;
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 3px;
}

.eden__packs-logistics {
    background: linear-gradient(172.15deg, rgba(68, 120, 182, 0) -13.23%, #4478B6 105.83%);
    border-radius: 50px;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eden__packs-item_content {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.eden__packs-item_content-section h4 {
    color: white;
    letter-spacing: 3px;
}

.eden__packs-header_pack {
    padding: 2rem;
    background: linear-gradient(265.92deg, #D9D9D9 -5.21%, rgba(217, 217, 217, 0) 105.22%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-OS);
}

.eden__button-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.eden__button-blue button {
    border: none;
    padding: 0.3rem 0;
    border-bottom: 2px solid white;
    font-family: var(--font-OS);
    color: white;
    background: none;
}

.eden__form-button button {
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid black;
    background: none;
    color: black;
    font-family: var(--font-family);
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
    overflow: hidden;
    width: 100%;
}

.eden__packs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.eden__packs-content_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/Packs/adam & eve.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    gap: 20px;
}

.eden__packs-content_item-title h2 {
    font-size: 2.5em;
    color: white;
    font-weight: 800;
    letter-spacing: 5px;
}
#eden__packs-w100 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eden__packs-content_item-body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.eden__packs-content_item-body_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.eden__packs-content_item-paragraph {
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.eden__packs-content_item-paragraph_section {
    background: linear-gradient(172.15deg, rgba(68, 120, 182, 0) -13.23%, #4478B6 105.83%);
    border-radius: 50px;
    padding: 2rem;
    color: white;
    
}
.eden__packs-content_item-schedule {
    color: white;
    font-family: var(--font-family);
    background: linear-gradient(172.15deg, rgba(68, 120, 182, 0) -13.23%, #4478B6 105.83%);
    padding: 2rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.eden__packs-content_item-schedule h3 {
    font-size: 1.7em;
    font-weight: 500;
}

.eden__packs-content_item-paragraph_section h3 {
    font-size: 1.7em;
    font-weight: 500;
}

.eden__packs-content_item-body_pic {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.eden__packs-content_item-body_pics {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.eden__packs-item_pictures {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.eden__packs-item_pictures img {
    width: 100%;
    height: 300px;
    border-radius: 50px;
    opacity: 0.9;
}

.eden__packs img {
    width: 100%;
}

.eden__packs_item-romeo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../../assets/Packs/you.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    background-position-x: right;
    height: 100%;

}

.eden__packs-content_item-title-romeo h2 {
    font-size: 2.5em;
    color: var(--color-blue);
    font-weight: 800;
    letter-spacing: 5px;
}

.eden__packs-content_item-body-romeo {
    padding: 2rem;
    background: linear-gradient(265.92deg, #D9D9D9 -5.21%, rgba(217, 217, 217, 0) 105.22%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eden__packs-content_item-schedule-romeo {
    font-family: var(--font-OS);
    text-align: center;
}

.eden__packs-content_item-schedule-romeo h3 {
    font-size: 1.7em;
    color: var(--color-blue);
    font-weight: 500;
}

.eden__packs_item-romeo ul {
    list-style: none;
}

.eden__packs-content_item-paragraph-romeo {
    text-align: center;
    font-family: var(--font-OS);
}

.eden__packs-content_item-paragraph-romeo h3 {
    font-size: 1.7em;
    color: var(--color-blue);
    font-weight: 500;
}

.eden__packs-content_item-paragraph-romeo h5 {
    font-size: 1.7em;
    color: var(--color-blue);
    font-weight: 500;
}

.form__button-romeo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form__button-romeo button {
    border: none;
    padding: 0.3rem 0;
    border-bottom: 2px solid var(--color-blue);
    font-family: var(--font-OS);
    color: var(--color-blue);
    background: none;
}

.eden__packs-honeymoon {
    width: 100%;
    height: 100%;
    padding: 4rem 2rem;
    background-image: url("../../assets/Packs/honeymoon.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eden__packs-honeymoon-header h2 {
    font-family: var(--font-OS);
    font-size: 2.5em;
    color: white;
    font-weight: 800;
    letter-spacing: 5px;
}

.eden__packs-honeymoon-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--font-OS);
}

.eden__packs-honeymoon-content_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(265.92deg, #D9D9D9 -5.21%, rgba(217, 217, 217, 0) 105.22%);
    border-radius: 50px;
}

.eden__packs-honeymoon-content_item h3 {
    font-size: 1.7em;
    color: var(--color-blue);
    font-weight: 600;
    letter-spacing: 3px;
}

.eden__packs-honeymoon-content_item h5 {
    color: var(--color-blue);
    font-weight: 600;
    letter-spacing: 3px;
}

@media (max-width:950px) {
    .eden__packs-content_item-body_pic {
        display: none;
    }
    .eden__packs-content_item-paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .eden__packs-item_pictures {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width:850px) {
    .eden__packs-item_content {
        grid-template-columns: repeat(1, 100%);
    }

    .eden__packs-honeymoon-content {
        flex-direction: column;
    }
}

@media (max-width:750px) {
    .eden__packs-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem 2rem;
    }

    .eden__packs-header_titles h2 {
        text-align: center;
    }

    .eden__packs-content {
        padding: 0 !important;
    }

    .eden__packs_item,
    .eden__packs_item-romeo,
    .eden__packs-content_item {
        padding: 2rem 1rem !important;
    }

}